{% extends 'base_admin.html.twig' %}

{% block title %}Type Compte{% endblock %}

{% block body %}
    <h1>Type Compte</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ type_compte.id }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ type_compte.type }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_type_compte_index') }}">back to list</a>

    <a href="{{ path('app_type_compte_edit', {'id': type_compte.id}) }}">edit</a>

    {{ include('type_compte/_delete_form.html.twig') }}
{% endblock %}
