{% extends 'base_admin.html.twig' %}

{% block title %}PubHor index{% endblock %}

{% block body %}
    <h1>PubHor index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Image</th>
                <th>Lien</th>
                <th>Isactive</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for pub_hor in pub_hors %}
            <tr>
                <td>{{ pub_hor.id }}</td>
                <td>{{ pub_hor.image }}</td>
                <td>{{ pub_hor.lien }}</td>
                <td>{{ pub_hor.isactive ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('app_pub_hor_show', {'id': pub_hor.id}) }}">show</a>
                    <a href="{{ path('app_pub_hor_edit', {'id': pub_hor.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="navigation">
        {{ knp_pagination_render(pub_hors) }}
    </div>

    <a href="{{ path('app_pub_hor_new') }}">Create new</a>
{% endblock %}
